# Virtualenv
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# pytest cache
.pytest_cache/
tests/.pytest_cache/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Secrets, logs, config
*.env
